body {
    background-color: #0f172a;
    color: #f1f5f9;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.raid-gradient {
    background: linear-gradient(135deg, #450a0a 0%, #000000 100%);
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

/* gate button */
.gate-btn.active {
    background-color: rgba(220, 38, 38, 0.2);
    border-color: #dc2626;
    color: white;
}
